body{
    background-color: var(--fondo);
    margin: 0px;
}

:root{
    --blanco: white;
    --fondo: rgb(20, 20, 20);
    --principal: rgb(21, 138, 132);
    --secundario: rgb(82, 87, 87);
    --letras-claras: #aaa;
}

/*==========================HEADER=============================*/



/*==========================MENU DIV=============================*/

#menu{
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items{
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
}

.menu-item{
    color: var(--blanco);
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: 'Playfair Display', serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-background-pattern{
    height: 100vh;
    width: 100vh;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

/*==========================BODY=============================*/
/*========Seccion Sobre Mi========*/

.sobremi{
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 2rem;
}

.texto-sobremi{
    color: var(--blanco);
    text-align: center;
    margin-top: 5rem;
}

.title-sobremi{
    font-size: clamp(2rem, 8vw, 6rem);
    font-family:'Playfair Display', serif;
    font-weight: 400;
}

.text-sobremi{
    font-size: 1.5rem;
}

.links-sobremi{
    display: flex;
    justify-content: space-evenly;
}

.link-item{
    color: var(--blanco);
    font-size: 2rem;
    text-decoration: none;
}

.link-item:hover{
    text-decoration: underline var(--secundario);
}

#imgPerfil{
    height: 50%;
    width: 50%;
    border-radius: 62% 38% 29% 71% / 29% 55% 45% 71%;
}

/*========Skills y Hobbies========*/
.section__title{
    font-size: 5rem;
    margin-left: 1rem;
    font-weight: 400;
}

.section__subtitle{
    font-size: 2rem;
    margin-left: 1rem;
}

.skills{
    color: var(--blanco);
}

.skills__container{
    row-gap: 0;
    margin-left: 2rem;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 90%;
    cursor: pointer;
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--principal);
}

.skills__icon{
    margin-right: 0.75rem;
}

.skills__title{
    font-size: 2rem;
}

.skills__subtitle{
    font-size: 1.5rem;
    color: var(--letras-claras);
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    width: 85%;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skills__name{
    font-size: 1.3rem;
    font-weight: 400;
}

.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: var(--letras-claras);
}

.skills__percentage{
    display: block;
    background-color: var(--principal);
}


.skills__html{
    width: 90%;
}
.skills__css{
    width: 80%;
}
.skills__js{
    width: 60%;
}
.skills__git{
    width: 70%;
}


.skills__SQL{
    width: 30%;
}
.skills__node{
    width: 20%;
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: 2.5rem;
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

/*========Trabajos Web========*/
.proyectos{
    color: var(--blanco);
}

.container__proyectos{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}

.img__proyectos{
    height: 40%;
    width: 40%;
}

.btn__proyectos{
    background-color: var(--principal);
    color: var(--blanco);
    height: 3.5rem;
    width: 6rem;
    cursor: pointer;
    border-radius: 1rem;
}

/*========Form Contacto========*/

.contacto{
    color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 50%;
    padding: 5rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--blanco);
}

.campo__field-textarea{
    height: 20rem;
}

.boton{
    display: block;
    margin-bottom: 2rem;
}
/*==========================MEDIAQUERYS=============================*/

/*========Celulares 480px========*/
@media (max-width: 480px) {
    #menu-items{
        margin-left: 2rem;
    }

    /*========Seccion Sobre Mi========*/
    .sobremi{
        text-align: center;
    }

    .links-sobremi{
        display: grid;
    }

    #imgPerfil{
        height: 100%;
        width: 100%;
    }

    .section__title{
        font-size: 3rem;
    }

    .contacto{
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .campo{
        display: grid;
    }

    .campo__label{
        text-align: left;
    }
}

/*========Tablets 768px========*/
@media (max-width: 768px) {
    /*========Seccion Sobre Mi========*/
    .sobremi{
        display: block;
    }

}

